@include classesGenerator(
    'bg',
    'background-color',
    $commonColors,
    (
        addHover: true,
        oneLvl: true,
        useGradient: true
    )
);

.d {
    @include classesGenerator(
        'bg',
        'background-color',
        map-merge($darkTheme, ('lang-dd': rgba(255, 255, 255, 0.2))),
        (
            addHover: true,
            addBefore: true,
            useGradient: true,
            oneLvl: true,
        )
    );
}

.l {
    @include classesGenerator(
        'bg',
        'background-color',
        map-merge($lightTheme, ('lang-dd': rgba(0, 0, 0, 0.2))),
        (
            addHover: true,
            addBefore: true,
            useGradient: true,
            oneLvl: true,
        )
    );
}