.border {
    @each $colorKey, $colorValue in $commonColors {
        &--#{$colorKey} {
            border-color: $colorValue;
            &--hover {
                &:hover {
                    border-color: $colorValue;
                }
            }
        }
    }
}

.d {
    .border {
        &--primary {
            border-color: map-get($darkTheme, 'primary');
            &--hover {
                &:hover {
                    border-color: map-get($darkTheme, 'secondary')
                }
            }
        }
    }
}

.l {
    &--secondary {
        border-color: map-get($lightTheme, 'secondary');
        &--hover {
            &:hover {
                border-color: map-get($lightTheme, 'primary')
            }
        }
    }
}