$borderColors: 'input-border';

.border {
    @each $color in $bgColors {
        &--#{$color} {
            border-color: var(--#{$color});
        }
        &--hover {
            &--#{$color} {
                &:hover {
                    border-color: var(--#{$color});
                }
            }
        }
    } 
}

