$commonColors: (
    'white': #FFFFFF,
    'black': #0B0B0B,
    'grey': #CCCCCC,
);

$darkTheme: (
    'primary': #E31F25,
    'secondary': #C3181e,
);

$lightTheme: (
    'primary': #07C631,
    'secondary': #008D1F,
);