@mixin classesGenerator(
    $classPrefix,
    $property,
    $colorArr,
    $options: (
        oneLvl: false,
        addHover: false,
        addBefore: false,
        addAfter: false,
        addFocus: false,
        useGradient: false
    )
) {
    #{if(& and map-get($options, 'oneLvl') == true,'&.','.') + $classPrefix} { /// scss-lint:disable
        @if(map-get($options, 'useGradient') != true) {
            $colorArr: map-remove($colorArr, 'gradient');
        }
        @each $colorKey, $colorValue in $colorArr {
            &--#{$colorKey} {
                #{$property}: $colorValue;
                @if(map-get($options, 'addHover') == true) {
                    &--hover {
                        &:hover {
                            #{$property}: $colorValue;            
                        }
                        @if(map-get($options, 'addBefore') == true) {
                            &--before {
                                &:hover {
                                    &::before {
                                        #{$property}: $colorValue;
                                    }
                                }
                            }
                        }
                        @if(map-get($options, 'addAfter') == true) {
                            &--after {
                                &:hover {
                                    &::after {
                                        #{$property}: $colorValue;
                                    }
                                }
                            }
                        }
                    }
                }
                
                @if(map-get($options, 'addBefore') == true) {
                    &--before {
                        &::before {
                            #{$property}: $colorValue;
                        }
                    }
                }
                
                @if(map-get($options, 'addAfter') == true) {
                    &--after {
                        &::after {
                            #{$property}: $colorValue;
                        }
                    }
                }
                
                @if(map-get($options, 'addFocus') == true) {
                    &--focus {
                        &:focus {
                            #{$property}: $colorValue;    
                        }
                    }
                }
            }
        }   
    }
}