@include classesGenerator(
    'text',
    'color',
    $commonColors,
    (
        addHover: true,
    )
);

.d {
    @include classesGenerator(
        'text',
        'color',
        $darkTheme,
        (
            addHover: true,
            oneLvl: true,
        )
    );
}

.l {
    @include classesGenerator(
        'text',
        'color',
        $lightTheme,
        (
            addHover: true,
            oneLvl: true,
        )
    );
}