@import './_reset.scss';
@import './_colors.scss';
@import './mixins';
@import './_widths.scss';
@import './_flex.scss';
@import './_margins.scss';
@import './_paddings.scss';
@import './_fonts.scss';
@import './_backgrounds.scss';
@import './_textColors.scss';
@import './borders';


$containerMaxWidth: 1200px;
$containerWidth: 85%;
$errorColor: map-get($darkTheme, 'primary');

.container {
    width: $containerWidth;
    max-width: $containerMaxWidth;
    margin: 0 auto;
}

.h--full {
    height: 100%;
}

.text {
    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }

    &--center {
        text-align: center;
    }
}

.border--error {
    border-color: $errorColor;
}

.error {
    color: $errorColor;
}

.pointer {
    cursor: pointer;
}

.d {
    &.pageBg {
        background-color: map-get($commonColors, 'black');
    }
}

.l {
    &.pageBg {
        background-color: map-get($commonColors, 'grey');
    }
}